<div class="banner">
	<h1 class="sr-only">{{title}}</h1>
	<div class="banner__slider js-slider">
		{{#each slide}}
		<div class="banner__slide has-contain" style="background-image: url('{{src}}');" role="banner"></div>
		{{/each}}
	</div>
</div><!-- .banner -->