<div class="banner {{altClass}}">
	<h1 class="sr-only">{{title}}</h1>
	<div class="banner__slider js-slider">
		{{#each slide}}
		<div class="banner__slide" >
			<img src="{{src}}" alt="{{alt}}" role="presentation">
		</div>
		{{/each}}
	</div>
</div><!-- .banner -->