</main><!-- .main -->
<footer class="footer">
    <div class="wrap">
        <div class="footer-wrap">
            <div class="footer-box">
                <h5>Kontakt mail i telefon</h5>
                <span><a class="icon-ico-email" href="mailto:office@virtuszemun.com">office@virtuszemun.com</a></span>
                <span><a class="icon-ico-pin" href="tel:+38162232262">060/232-262</a></span>
            </div>
            <div class="footer-box">
                <h5>Adresa</h5>
                <span>Beograd, Zagorska 30</span>
            </div>
            <div class="footer-box">
                <h5>Radno vreme</h5>
                <span>pondedeljak - subota</span>
                <span>07:00 – 19:00</span>
            </div>
            <div class="social-media">
                <a target="_blank" href="javascript:;" aria-label="Link do Facebook stranice"
                    class="font-ico-facebook" rel="noopener" rel="noreferrer"></a>
                <a target="_blank" href="javascript:;" aria-label="Link do Instagram stranice"
                    class="font-ico-instagram" rel="noopener" rel="noreferrer"></a>
            </div>
        </div>
    </div>
</footer>