</main><!-- .main -->
<footer class="footer">
    <div class="wrap">
        <div class="footer-wrap">
            <div class="footer-box">
                <h5>Radno vreme</h5>
                <span>pondedeljak - petak</span>
                <span>07:00 – 23:00</span>
                <span>subota - nedelja</span>
                <span>08:00 – 24:00</span>
            </div>
            <div class="footer-box">
                <h5>Adresa</h5>
                <span>Sremska Mitrovica, Svetog Save br. 15</span>
            </div>
            <div class="footer-box">
                <h5>Kontakt mail i telefon</h5>
                <a href="mailto:lanostracasa.sm@gmail.com">lanostracasa.sm@gmail.com</a>
                <a href="tel:+38163405403">063/405-403</a>
            </div>
            <div class="social-media">
                <a target="_blank" href="javascript:;" aria-label="Link do Facebook stranice" class="font-ico-facebook"></a>
                <a target="_blank" href="javascript:;" aria-label="Link do Instagram stranice" class="font-ico-instagram"></a>
            </div>
        </div>
    </div>
</footer>
