<!DOCTYPE html>
<html lang="sr">

<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no" />
	<meta charset="utf-8">
	<meta name="author" content="Marina Tatic">
	<meta name="description" content="Prodaja građevinskih mašina i opreme.">
	<meta name="keywords" content="Virtus, Zemun, prodaja, građevinarstvo, mašine, alati, oprema">
	<link rel="canonical" href="http://www.virtuszemun.com/">

	<meta name="robots" content="index, follow">
	<meta name="googlebot" content="index, follow">

	<!-- main css file -->
	<link rel="stylesheet" href="css/style.min.css">

	<title>Virtus Zemun</title>
	<link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="./site.webmanifest">
	<link rel="mask-icon" href="./assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>

<body>
	{{#> template-content}}
	{{/template-content}}
	<script src="js/global.min.js"></script>
		<script>
		if ('serviceWorker' in navigator) {
			console.log('CLIENT: service worker registration in progress.');
			navigator.serviceWorker.register('./sw.js').then(function () {
				console.log('CLIENT: service worker registration complete.');
			}, function () {
				console.log('CLIENT: service worker registration failure.');
			});
		} else {
			console.log('CLIENT: service worker is not supported.');
		}
	</script>
</body>

</html>