<header class="header">
	<div class="wrap">
		<div class="header__container">
			<a href="/" class="header__home">
				<img src="{{src}}" alt="virtus zemun logo" title="Virtus Zemun Home">
			</a>
			{{#if menu}}
				<nav class="nav">
					<ul class="nav__list" role="menubar">
					{{#each menu}}
						<li class="nav__item" role="menuitem">
							<a href="{{navLink}}" class="nav__link">{{navTitle}}</a>
						</li>
					{{/each}}
					</ul>
				</nav>
			{{/if}}
			<button class="js-hamburger-btn hamburger-btn" aria-label="Button for activating navigation">
				<span role="presentation"></span>
			</button>
		</div>
	</div>
</header>
<main class="main">
